body {
    background-color: #F5DEB3;
}

.black {
    background-color: black;
    color: black;
}

.green {
    background-color: green;
    color: green
}

.blue {
    background-color: blue;
    color: blue;
}

.yellow {
    background-color: yellow;
    color: yellow;
}

.red {
    background-color: red;
    color: red;
}

.white {
    background-color: white;
}
.color {
    display: inline-block;
    border: black solid 1px;
    padding: 40px;
}
.pink {
    background-color: #FF69B4;
    color: #FF69B4;
}
.orange {
    background-color: #FF8C00;
    color: #FF8C00;
}
.purple {
    background-color: #9400D3;
    color: #9400D3;
}
.brown {
    background-color: #A52A2A;
    color: 	#A52A2A;
}
.grey {
    background-color: #778899;
    color: #778899;
}
.pixel {
    display: inline-block;
    border: black solid 1px;
    width: 40px;
    height: 40px;
    margin: 2px;
}

#pixel-board {
    margin: 25px;
    margin-top: 35px;
}

#title {
    background-color: #F5DEB3;
    margin-left: 50px;
}

header {
    margin-left: 25px;
}

#color-palette {
    margin-left: 25px;
}

.botoes {
    display: inline-block;
}

#inputPX {
    margin-left: 40px;
}

#botoes {
    margin-left: 25px;
}