.black {
    background-color: black;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}
.caixa {
    display: inline-block;
    border: black solid 1px;
    padding: 40px;
}

.pixel {
    display: inline-block;
    border: black solid 1px;
    width: 40px;
    height: 40px;
}

#pixel-board {
    margin: 25px;
    margin-top: 35px;
}

header {
    margin-left: 25px;
}

#color-palette {
    margin-left: 25px;
}